<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright ©
                    <a href="#">CoderMiner</a>
                </span>
                |
                <span>
                    <a href="http://www.miibeian.gov.cn/">京公网安备11010802014853</a>
                </span>
                |
                <span>
                    京公网安备11010802014853
                </span>
            </div>
        </div>
    </div>
</div>